* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.first {
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

main {
    background: url("./media/survey.jpeg") rgb(59, 59, 156);
    background-blend-mode: darken;
    color: aliceblue;
    text-align: center;
}

form.survey-form {
    margin: 2.5rem 20rem 0;
    width: 43rem;
    background-color: rgb(4, 13, 66);
    text-align: left;
    padding: 2.7rem;
    font-size: larger;


}

.first input {
    margin-bottom: 1rem;
}

.radio {
    display: inline-block;
    display: flex;
    flex-direction: column;

}

.checkbox {
    display: block;
    display: flex;
    flex-direction: column;
}

.sugestion {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3rem;


}

button {
    height: 2rem;
    color: aliceblue;
    background-color: rgb(11, 133, 0);

}

select,
input {
    height: 2rem;
    border-radius: 6px;
}

header {
    line-height: 2.5rem;
    padding-top: 2rem;
    width: 40rem;
    margin: 0 20rem;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 24px;
}